<div class="text-center">
  Nickname generator for
  <h1><%= @race.name %> from <%= @game.name %></h1>
</div>

<%= render 'shared/nickbox' %>

<div id='about-race' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
  <%= render 'shared/about_race', race: @race %>
</div>

<% title "#{@race.name} from #{@game.name}" %>
