<h2 class="text-center" id="nickname">
  Place for nickname
</h2>

<div class="text-center">
  <%= link_to 'Male', '#', class: 'btn btn-success btn-lg generate_nickname',
    data: { sex: 'male', game: @race.game.id, race: @race.id } %>
  <%= link_to 'Female', '#', class: 'btn btn-success btn-lg generate_nickname',
    data: { sex: 'female', game: @race.game.id, race: @race.id } %>
  <br>
  <small>
    There is more than <%= number_with_delimiter(@total_combinations, delimiter: ' ') %> possible unique nickname combinations
  </small>
  <%#= yield %>
</div>
