<h1 class="text-center" id="nickname">
  Place for nickname
</h1>

<div class="text-center">
  <button class='btn btn-success btn-lg' id='generate_nickname'>Male</button>
  <button class='btn btn-success btn-lg' id='generate_nickname'>Female</button>
</div>
